/* 
    CSC 337
    Daniel Peabody
    3/14/2023
    Stye sheet for chat app. Creates a 70/30 split
    for the messages and input areas. The main colors 
    used are shades of green. 
*/


body {
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0;
    margin: 0;
}

.messageHolder {
    background-color: lightgreen;
    width: 100%;
    height: 70vh;
    overflow-y:scroll;
}

.userInput {
    background-color: darkgreen;
    color: white;
    width: 100%;
    height: 30vh;
    font-size: 2rem;
}
.userInput input {
    margin-top: 1rem;
    padding-left: 2rem;
}

.userInput button {
    margin-top: 1rem;
    font-size: 2rem;
}
